<div class="flex-column-stretch">
    <mat-form-field appearance="fill">
        <mat-label>Department name</mat-label>
        <input matInput [ngModel]="departmentService.name$|async" (ngModelChange)="departmentService.name$.next($event)">
    </mat-form-field>
    <div class="flex-row-wrap gap5">
        <button mat-raised-button (click)="departmentService.add()" color="primary"><mat-icon>add</mat-icon> Add</button>
        <button mat-raised-button (click)="departmentService.update()"><mat-icon>save</mat-icon> Update</button>
        <button mat-raised-button (click)="departmentService.remove()"><mat-icon>delete</mat-icon> Delete</button>        
    </div>
</div>
<br>
<div class="main-content-container" style="gap: 2px; padding-right: 30px" cdkDropList (cdkDropListDropped)="departmentService.drop($event)">
    <div class="department round-corner"
        *ngFor="let department of departmentService.departments" 
        [class.selected]="(departmentService.selection$|async)==department"
        cdkDrag 
        (click)="departmentService.select(department)">{{department}}</div>
</div>