<div class="flex-column-stretch">
    <mat-form-field appearance="fill">
        <mat-label>Department name</mat-label>
        <input matInput [ngModel]="name$|async" (ngModelChange)="name$.next($event)">
    </mat-form-field>
    <div class="flex-row-wrap" style="gap: 5px;">
        <button mat-raised-button (click)="add()" color="primary"><mat-icon>add</mat-icon> Add</button>
        <button mat-raised-button (click)="update()"><mat-icon>save</mat-icon> Update</button>
        <button mat-raised-button (click)="remove()"><mat-icon>delete</mat-icon> Delete</button>        
    </div>
</div>
<hr>
<div class="main-content-container" style="gap: 2px" cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="department round-corner" 
        *ngFor="let department of storageService.departments" 
        [class.selected]="(selection$|async)==department"
        cdkDrag 
        (click)="selectDepartment(department)">{{department}}</div>
</div>